<nav>
    <a href="/<%= student["roll-number"] %>/schedule">Schedule</a>
    <a href="/<%= student["roll-number"] %>/info">Student Info</a>
    <a href="/<%= student["roll-number"] %>/attendance">Attendance</a>
    <a href="/<%= student["roll-number"] %>/time-table">Time Tables</a>
    <a href="/<%= student["roll-number"] %>/calendar">Calendar</a>
    <a href="/about">About</a>
  </nav>